:root { 
--blue_gray_200:#b4bdc4; 
--gray_500:#a0a4ab; 
--blue_gray_300:#8f9bb3; 
--blue_A700:#3366ff; 
--red_A200:#f75f5f; 
--orange_A700:#ff6b00; 
--red_500:#ff323f; 
--indigo_A100:#768cff; 
--gray_200:#f0f0f0; 
--blue_A700_33:#3366ff33; 
--orange_400:#ff9432; 
--gray_50:#f7f9fc; 
--orange_200:#ffb878; 
--green_400:#64e561; 
--orange_400_33:#ff953333; 
--blue_gray_800:#2e3a59; 
--blue_gray_900_01:#202244; 
--blue_gray_900:#292d32; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--red_500_33:#ff333f33; 
}